.project-card-container{
    width: 200px;
    min-height: 350px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.project-card-container:hover{
    transition: transform 0.5s ease;
    transform: translateY(-20px);
}

.project-card-header{
    width: 100%;
    min-height: 100px;
    color: #fff;
    padding: var(--space-2);
}

.project-card-content{
    width: 100%;
    padding: var(--space-2);
    background-color: #fff;
    flex: 1;
}