.project-card-container{
    width: 250px;
    min-height: 400px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.project-card-container:hover{
    transition: transform 0.5s ease;
    transform: translateY(-20px);
}

.project-card-header{
    width: 100%;
    min-height: 200px;
    color: #fff;
    padding: var(--space-2);
    font-family: var(--font-serif);
}

.project-card-content{
    width: 100%;
    min-height: 250px;
    padding: var(--space-2);
    background-color: #fff;
    flex: 1;
    white-space : pre-line;
}

.project-card-content small{
    font-size: 12px;
    color: var(--color-label);
}
.project-card-content-box{
    margin: var(--space-2) auto;
}