.modal-overlay{
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-icons{
    width: 35px;
    cursor: pointer;
    margin: var(--space-2);
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.modal-box-left,
.modal-box-center,
.modal-box-right
{   
    position: absolute;
    top: 50%;                              
    left: 50%;                             
    transform: translate(-50%, -50%);      
    width: clamp(400px, 30%, 600px);
    max-width: 100%; 
    height: clamp(500px, 90%, 1000px);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--default-box-shadow);
}

.modal-box-left{
    z-index: 5;
    transform-origin: 0% 0%;
    transition: transform 2s ease;
    transform-style: preserve-3d;
}
.modal-box-right{
    transform-origin: 100% 100%;
    transition: transform 2s ease;
    transform-style: preserve-3d;
}
.modal-box-center{
    position: relative;
}


.modal-box-expanded-left {
    transform: translate(-50%, -50%) rotateY(-180deg);
}
.modal-box-expanded-right {
    transform: translate(-50%, -50%) rotateY(180deg);
}